/*去除默认元素的margin和padding*/
body,input,button,ul,li,h1,h3,a,i,s,dl,dt,dd{
    margin: 0px;
    padding: 0px;
}

input,button,h1{
    border: none;
    outline: none;
}

/*京东的版心1210*/
.w {
    width: 1210px;
    margin: 0 auto;
}
/*左浮动*/
.fl{
    float: left;
}
/*右浮动*/
.fr {
    float: right;
}

/*清除浮动*/
.clear-fix{
    zoom: 1;
}
.clear-fix:after{
    content:"";
    clear: both;
    display: block;
}

body{
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
}
/*去除li的默认样式*/
li{
    list-style: none;
}
/*去除a标签默认样式*/
a {
    color: #666;
    text-decoration: none;
}
/*清除图片低侧默认的3像素空白缝隙*/
img{
    border: 0;
    vertical-align: middle;
}
/*红色背景*/
.col-red{
    color: #C81623;
}

/*设置i，s,em为默认字体*/
i,s,em{
    font-style: normal;
    text-decoration: none;
}








/*site-nav部分开始start*/
.site-nav {
    height: 30px;
    background-color: #F1F1F1;
}

.site-nav-l{
}
.site-nav-l:hover{
    background-color: #fff;
}
.site-nav-send,.site-nav-r .nav-arrow{
    width: inherit;
    line-height: 30px;
    padding: 0 25px 0 10px;
    position: relative;
}

.site-nav-send i,.nav-arrow i{
    width: 14px;
    height: 7px;
    position: absolute;
    right: 8px;
    top: 12px;
    overflow: hidden;
}

.site-nav-send s,.nav-arrow s{
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0px;
    top: -14px;
}


.site-nav-r li{
    float: left;
    height: inherit;
    line-height: 30px;
    padding: 0 10px;
    color: #666;
}
.site-nav-r .nav-arrow:hover{
    background-color: #fff;
}

.site-nav-r a:hover{
    color: #C81623;
}

.site-nav-r .line {
    width: 1px;
    height: 12px;
    margin-top: 9px;
    background-color: #ddd;
    padding: 0px;
}

.site-nav-r .jd-tel{
    padding-left: 25px;
}

.jd-tel span{
    width: 15px;
    height: 20px;
    position: absolute;
    left: 7px;
    top: 5px;
    background:url("../images/tel.png") no-repeat;
}
/*site-nav部分开始结束*/
.top-banner{
    background-color: #FD6500;
}
.tb{
    position: relative;
}
.close-banner{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 19px;
    height: 19px;
    background: url("../images/close-banner.png") no-repeat;
}
.close-banner:hover{
    background-position: 0px -19px;
}

/*search部分start*/
.search-logo{
    width: 362px;
    height: 100px;
    position: relative;
}
.search-logo h1{
    text-indent: -999em;
    color: #fff;
}
.search-logo a{
    background: url("../images/logo.png") no-repeat;
    display: block;
    width: 270px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 20px;
}

.search-area{
    width: 538px;
    height: 36px;
    margin-top: 25px;
}

.search-area input{
    width: 450px;
    height: 32px;
    float: left;
    border: 2px solid #B61D1D;
    border-right: none;
    text-indent: 5px;
}

.search-area button{
    width: 82px;
    height: inherit;
    background-color: #B61D1D;
    float: left;
    font:15px/36px "Microsoft YaHei" ;
    color: #fff;
    cursor: pointer;
}

.search-car{
    width: 141px;
    height: 36px;
    background-color: #F9F9F9;
    color: #000;
    margin: 25px 65px 0 0;
    text-align: center;
    position: relative;
}

.search-car .link{
    line-height: 36px;
}
.search-car .link:hover{
    color: #C81623;
}

.search-car .icon{
    width: 18px;
    height: 16px;
    background: url("../images/tel.png") no-repeat 0 -58px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.search-car .arrow{
    line-height: 36px;
    position: absolute;
    right: 15px;
    font: 13px/36px "SimSun";
}

.search-car .pro-count{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 22px;
    top: -5px;
    background-color: #C81623;
    color: #fff;
    border-radius: 10px 8px 10px 0px;
}

.search-morelink{
    width: 538px;
    height: 28px;
}
.search-morelink li{
    float: left;
    line-height: 28px;
    padding-right: 10px;
}
.search-morelink a:hover{
    color: #C81623;
}
/*search部分end*/

/*shortcut-nav部分start*/
.shortcut-nav{
    border-bottom: 2px solid #B1191A;
}
.shortcut-nav-menu{
    height: 44px;
    float: left;
    position: relative;
    width: 210px;
    z-index: 1;
}
.shortcut-nav-menu-all{
    height: 44px;
    background-color: #B1191A;
    color: #fff;
    font: 400 15px/44px "microsoft yahei";
}

.shortcut-nav-menu-all a{
    color: #fff;
    font: 400 15px/44px "microsoft yahei";
    width: 210px;
    height: 44px;
    display: block;
    float: left;
    text-indent: 10px;
}

.shortcut-nav-menu-one{
    width: 209px;
    height: 446px;
    background-color: #C81623;
    border-left: 1px solid #B1191A;
    border-bottom: 1px solid #B1191A;
}
.shortcut-nav-items{
    height: 44px;
    float: left;
    width: 730px;
}

.shortcut-nav-items a{
    height: 44px;
    font: 400 16px/44px "microsoft yahei";
    padding: 0px 20px;
    float: left;
}
.shortcut-nav-items a:hover{
    color: #C81623;
}

.shortcut-nav-img{
    float: right;
    margin-right:40px;
    margin-top: -12px;
}
.shortcut-nav-img a{
    width: 200px;
    height: 54px;
    background:url("../images/img2.jpg") no-repeat;
    display: block;
}
/*shortcut-nav部分end*/

/*footer部分start*/
.footer-top{
    /*background-color: #f5f5f5;*/
}
.footer-top-slogen{
    background-color: #f5f5f5;
    height: 94px;
    position: relative;
}
.footer-top-slogen-icon{
    width: 220px;
    height: 54px;
    position: absolute;
    left: 50%;
    top: 20px;
}

.footer-top-slogen-icon1{
    margin-left: -604px;
}
.footer-top-slogen-icon2{
    margin-left: -302px;
}

.footer-top-slogen-icon4{
    margin-left: 302px;
}

.footer-top-shopping {
    background-color: #fff;
}

.footer-top-shopping dl{
    float: left;
    width: 200px;
}

.footer-top-shopping .footer-top-shopping-last{
    width: 100px;
}
.footer-top-shopping dt,.coverage h3{
    height: 34px;
    font: 400 16px/34px "microsoft yahei";
}
.footer-top-shopping dd{
    line-height: 20px;
}
.footer-top-shopping a:hover{
    color: #C81623;
}

.footer-top-shopping .coverage{
    width: 183px;
    height: 169px;
    margin-right: 60px;
    background: url("../images/china.png") no-repeat left bottom;
    padding-left: 20px;
}

.footer-top-shopping .coverage a{
    float: right;
}

/*footer-bottom部分start*/
.footer-bottom{
    border-top: 1px solid #E5E5E5;
    padding: 20px 0 30px;
}
.footer-bottom-link{
    /*background-color: cyan;*/
    text-align: center;
}
.footer-bottom-link a{
    margin: 0 10px;
}

.footer-bottom-link a:hover{
    color: #C81623;
}
.footer-bottom-copyright{
    text-align: center;
    padding: 10px 0px;
}
.footer-bottom-img{
    text-align: center;
}
.footer-bottom-img a{
    margin: 0 10px;
}
/*footer-bottom部分end*/
/*footer部分end*/

