*{
    margin: 0;
    padding: 0;

    /* 点击高亮效果 *//* 手指点击 清除默认的 高亮效果 透明 */
    -webkit-tap-highlight-color: transparent ;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 14px;
    font-family: '微软雅黑',sans-serif;
}

/*去掉默认样式*/
input{
    border: none;
    -webkit-appearance: none;
    outline: none;
}

ol,ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*清除图片低侧默认的3像素空白缝隙*/
img{
    border: 0;
    vertical-align: middle;
}

/*设置i，s,em为默认样式*/
i,s,em{
    font-style: normal;
    text-decoration: none;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

/*清除浮动*/
/*
.clear-fix{
    zoom: 1;
}
*/

/* 清除浮动 */
.clear-fix::before,
.clear-fix::after{
    content:'';
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}
