
/*首页导航开始*/
.nav-items{
	height: 87px;
	background-color: #f00;
}

.nav-items ul{
	width: inherit;
	height: inherit;
	background-color: #0f0;
	height: 77px;
	padding-left: 0px;
}

.nav-items ul li{
	height:77px;
	line-height: 77px;
	background-color: #fff;
	float: left;
	list-style: none;
	margin-right: 20px;
}

.nav-items li a {
	font: 700 18px "Microsoft YaHei";
	color:#000;
	list-style: none;
}

.nav-items li:first-child a{
	border-bottom: 1px solid red;
}

/*首页导航结束*/

/*早餐列表开始*/
.breakfast-title{
	font: 24px #000 "Microsoft YaHei"
	height: 80px;
	text-align: center;
	line-height: 80px;
}

.breakfast-item{
	background-color: #0f0;
}

.breakfast-item li{
	width: 25%;
	height: 275px;
	float: left;
	position: relative;
}

.breakfast-item li a{
	width: 100%;
	height: 275px;
	display: block;
	background-repeat: repeat-x;
} 

.breakfast-item .bread{
	background-image: url(../images/bread.png);
}

.breakfast-item .dumpling{
	background-image: url(../images/dumpling.png);
}

.breakfast-item .zongzi{
	background-image: url(../images/zongzi.png);
}

.breakfast-item .milk{
	background-image: url(../images/milk.png);
}

.breakfast-item li .intro{
	padding-left: 20px;
	width: 100%;
	height: 60px;
	background-color:rgba(255,255,255,0.5);
	opacity: 0.6;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.intro h3{
	width: 8em;
	font: 700 18px/30px "Microsoft YaHei";
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.intro span{
	font:12px "Microsoft YaHei";
}

.breakfast-item li .tip{
	width: 140px;
	height: 40px;
	background-color: #60a531;
	position: absolute;
	right: 10px;
	bottom: 30px;
	font: 700  18px/40px "Microsoft YaHei";
	color: #fff;
	text-align: center;
}
/*早餐列表结束*/

/*大搜索框开始*/
.big-search{
	height: 100px;
	background-color: #3f3a32;
	overflow: hidden;
}

.big-search .bigsearch-area{
	width: 728px;
	height: 77px;
	margin:12px auto;
	background-color: #f00;

}

.bigsearch-area .bigsearch-txt{
	width: 555px;
	height: inherit;
	border:none;
	outline: none;
	float: left;
	font:18px/77px "Microsoft YaHei";
	text-indent: 1em;
}

.bigsearch-area .bigsearch-btn{
	width: 173px;
	height: inherit;
	border:none;
	outline: none;
	float: left;
	background-color: #f00;
	font:18px/77px "Microsoft YaHei";
	color: #fff;
	text-align: center;
}

/*大搜索框结束*/


