*{
    margin: 0;
    padding: 0;
}

.section{
    position:relative;
    overflow: hidden;
}

/*==============================first==============================*/
.first{
    padding-top: 85px;
}

.first .logo{
    width: 251px;
    height: 186px;
    background: url("../images/logo.png") no-repeat center;
    margin: 0 auto;
}
.first .text{
    text-align: center;
    margin: 85px auto;
}
.first .text img{
    margin-left: 30px;
    opacity: 0;
}
.first .info{
    margin: 0 auto;
    width: 772px;
    height: 47px;
    background: url("../images/info_1.png") no-repeat center;
}

/*第一屏动画 注意.first.current中间不能有空格*/
.first.current .text img{
    margin-left: 0;
    opacity: 1;
    transition: all 1s ease-out 0.3s;
}
/*==============================second==============================*/
.section.second >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 200px;
}
.second .shield{
    width: 425px;
    height: 491px;
}
.second .info{
    width: 635px;
    height: 309px;
    background: url("../images/info_2.png") no-repeat center;
}
.second img{
    float: left;
}
.second img:nth-child(1){
    transform: translateX(-200px) translateY(-150px) rotateZ(-90deg);
}
.second img:nth-child(2){
    transform: translateX(30px) translateY(-180px) rotateZ(-60deg);
}
.second img:nth-child(3){
    transform: translateX(200px) translateY(-150px) rotateZ(90deg);
}
.second img:nth-child(4){
    transform: translateX(-200px) translateY(30px) rotateZ(-60deg);
}
.second img:nth-child(6){
    transform: translateX(400px) translateY(100px) rotateZ(-120deg);
}
.second img:nth-child(7){
    transform: translateX(-300px) translateY(250px) rotateZ(-120deg);
}
.second img:nth-child(8){
    transform: translateX(0px) translateY(150px) rotateZ(60deg);
}
.second img:nth-child(9){
    transform: translateX(400px) translateY(350px) rotateZ(75deg);
}
/*第二屏幕动画*/
.second.current img{
    transform:translateX(0px) translateY(0px) rotateZ(0deg);
    transition: all 0.5s linear;
}

/*==============================third==============================*/
.third >div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 200px;
    position: relative;
}
.third .info{
    width: 631px;
    height: 278px;
    background:url("../images/info_3.png") no-repeat center;
}
.third .circle{
    width: 453px;
    height: 449px;
    background: url("../images/circle.png") no-repeat center;
}
.third .rocket{
    background: url("../images/rocket.png") no-repeat center;
    width: 203px;
    height: 204px;
    right: 125px;
    transform:translateX(-2000px) translateY(1000px);
    position: absolute;
}

/*第三屏幕动画*/
.third.current .rocket{
    transform: translateX(0) translateY(0);
    transition: all 1s linear;
}
.third.current .circle{
    animation:circle 2s linear infinite 1s;
}
/*定义旋转动画*/
@keyframes circle {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(369deg);
    }
}

/*==============================fourth==============================*/
.fourth >div{
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.fourth .search{
    position: relative;
    overflow: hidden;
}
.fourth .input{
    width: 529px;
    height: 66px;
    transform: translateX(-529px);
    background: url("../images/search.png");
}
.fourth .key{
    position: absolute;
    left: 15px;
    top: 22px;
    width: 0;
    height: 22px;
    background: url("../images/key.png") no-repeat left;
}
.fourth .wrap{
    margin-top: -10px;
    margin-left: -1px;
    width: 529px;
    height: 372px;
    overflow: hidden;
}
.fourth .result{
    width: 100%;
    height: 100%;
    transform: translateY(-372px);
    background:url("../images/result.png") no-repeat center;
}
.fourth .info{
    width: 612px;
    height: 299px;
    background: url("../images/info_4.png") no-repeat center;
}
/*第四屏幕动画*/
.fourth.current .input{
    transform: translateX(0px);
    transition: all 0.8s ease-in-out;
}
.fourth.current .key{
    width: 99px;
    transition: all 1.5s steps(5) 1s;
}
.fourth.current .result{
    transform: translateY(0px);
    transition: all 0.5s linear 3s;
}

/*==============================fifth==============================*/
.fifth >div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px auto;
}
.fifth .info{
    width: 1077px;
    height: 134px;
    margin: 30px auto;
    background: url("../images/info_5.png") no-repeat center;
}
.fifth .browser{
    width: 1004px;
    position: relative;
    flex: 1;
    margin-bottom: 30px;
    /*overflow: hidden;*/
    background-color: rgba(255,255,255,0.2);
    box-sizing: border-box;
}
.fifth .leftline{
    position: absolute;
    width: 1px;
    height: 100%;
    left:0;
    background-color: rgba(255,255,255,0.5);
    transform:translateY(-100%);
}

.fifth .bottomline{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.5);
    transform: translateX(-100%);
}

.fifth .rightline{
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    transform: translateY(100%);
}
.fifth .topline{
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.5);
    transform:translateX(100%);
}

.fifth .toolbar{
    width: 1004px;
    height: 79px;
    background:url("../images/toolbar.png") no-repeat center;
    opacity: 0;
}
.fifth .box{
    position: absolute;
    left: 70px;
    top: 31px;
    width: 0;
    height: 27px;
    opacity: 0;
    border: 1px solid rgba(255,255,255,0.5);
}
.fifth .line{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.5);
    bottom: 30px;
}

.fifth .extra{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 394px;
    height: 29px;
    background: url("../images/extra.png") no-repeat center;
    opacity: 0;
}

/*第五屏幕动画*/
.fifth.current .leftline{
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}
.fifth.current .bottomline{
    transform: translateX(0);
    transition: all 0.5s ease-in-out 0.2s;
}
.fifth.current .rightline{
    transform: translateY(0);
    transition: all 0.5s ease-in-out 0.4s;
}
.fifth.current .topline{
    transform: translateX(0);
    transition: all 0.5s ease-in-out 0.6s;
}

.fifth.current .box{
    opacity: 1;
    width:920px;
    transition: all 1s linear 1.1s;
}
.fifth.current .toolbar{
    opacity: 1;
    transition: all 1s linear 1.5s;
}

.fifth.current .extra{
    opacity: 1;
    transition: all 1s linear 2.1s;
}








